@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  background-color: rgb(0, 0, 0);
  color: rgb(230, 230, 230);
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  color: rgb(230, 230, 230);
  text-decoration: none;
}
a:hover {
  opacity: 1 !important;
  text-decoration: underline;
}

.truncated-link {
  width: 275px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid;
}

input {
  background-color: black;
  color: rgb(230, 230, 230);
  box-shadow: none;
  transition: box-shadow 0.5s ease-out, border 0.5s ease-out;
}

input:hover {
  box-shadow: 0px 0px 40px rgba(230, 230, 230, 0.445);
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 40px rgb(43, 61, 219);
  border: 1px solid rgb(43, 61, 219);
}

button {
  cursor: pointer;
  color: rgb(230, 230, 230);
  background-color: black;
  /* box-shadow: 0px 0px 40px rgb(27, 38, 133); */
  /* background-image: radial-gradient(rgb(27, 38, 133), black 80%); */
  outline: none;
  border: 1px solid black;
  transition: border 0.5s ease-out, box-shadow 0.5s ease-out,
    background-color 0.5s ease-out;
}

button:hover {
  box-shadow: 0px 0px 40px rgb(43, 61, 219);
  border: 1px solid rgb(43, 61, 219);
  background-color: rgb(43, 61, 219);
}

button:focus {
  border: 1px solid rgb(230, 230, 230);
}

.error {
  color: rgb(192, 73, 73);
}

img {
  width: 100%;
  max-width: 800px;
}
